fastapi
uvicorn
python-multipart
groq
deep_translator
pymupdf
python-docx
pandas
openpyxl
python-dotenv
beautifulsoup4
pdfplumber
pypdf
PyPDF2
Pillow
img2pdf
reportlab
pdf2docx
python-pptx
opencv-python-headless
numpy
qrcode
